.about-container {
    display: flex;
    justify-content: space-around;
    padding-top:200px;
    height: 100%;
    width: 100%;
}

.about-title {
    margin-top: 100px;
    text-align: center;
    font-size: 1.5em;
}

.about-bio {
    width: 35%;
    padding: 0 10px;
    text-align: left;
    height: auto;
    border: white 2px solid;
    border-radius: 5px;
}

.about-video {
    width: 55%;
    height: auto;
    border: white 2px solid;
    border-radius: 5px;
}

.product-video{
    width: 100%;
}

@media screen and (max-width: 1030px) {
    .about-container {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
        padding-top: 100px;
    }
    
    .about-bio {
        width: 85%;
        margin-top: 10px;;
    }

    .about-video {
        width: 90%;
        z-index: -1;
    }
}