.about-container {
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    margin-top: -75px;
}

.about-title {
    margin-top: 100px;
    text-align: center;
    font-size: 1.5em;
}

.about-bio {
    width: 35%;
    padding-left: 10px;
    text-align: left;
    height: auto;
    border-radius: 5px;
}

.about-video {
    /* width: 55%; */
    height: auto;
    border-radius: 5px;
}

.product-video{
    width: 100%;
    border: rgb(0, 0, 0) 2px solid;
}

@media screen and (max-width: 1030px) {
    .about-container {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
    }
    
    .about-bio {
        width: 85%;
        text-align: center;
    }

    .about-video {
        width: 90%;
        z-index: -1;
        margin-bottom: -10px;
    }
}