.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    height: 100%;
    width: 100%;
}

.gallery-title {
    margin-top: 100px;
    text-align: center;
    font-size: 1.5em;
}

@media screen and (max-width: 1030px) {
    .gallery-container {
        padding-top: 90px;
    }

}