.services-container {
    position: absolute;
    color: white;
    text-align: center;
    height: 100%;
    width: 100%;
    z-index: -1;
    padding-top: 80px;
}

.product-video {
    position: relative;
    opacity: .6;
    width: 100%;
    top: -50%;
}

.services-title {
    color: black;
    position: absolute;
    font-size: 3.5vw;
    top: 25%;
    left: 5%;
}

.fade-in {
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .6;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .6;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .6;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .6;
    }
}

@media screen and (max-width: 1030px) {
    .product-video {
        top: -15%;
    }

    .services-title {
        font-size: 5vw;
        top: 100px;
        left: 50px;
    }
}