.services-container{
    position: absolute;
    color: white;
    text-align: center;
    height: 100%;
    width: 100%;
    z-index: -1;
    padding-top: 80px;
}

.fade-in {
    transition: all 2sec
}

.product-video {
    position: relative;
    opacity: .5;
    width: 100%;
    top: -500px;
}

.services-title {
    color: black;
    position: absolute;
    font-size: 4vw;
    top: 10%;
    left: 5%;
}

@media screen and (max-width: 1030px) {
    .product-video {
        top: -15%;
    }

    .services-title {
        font-size: 5vw;
    }
}
