.home-carousel{
    width: 100vw;
    height: 100vh;
  }
  
  .bg-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    
    .nav-arrows-container{
      position: relative;
      bottom: 25%;
      display: flex;
      justify-content: space-around;
      color: rgb(171, 171, 171);
      font-size: 45px;
    }
    
    .arrows{
      cursor: pointer;
      transition: filter 200ms;
    }
    
    .arrows:hover{
      filter: brightness(2);
    }
    
    @media screen and (max-width: 1120px) {
       .nav-arrows-container{
        position: relative;
        bottom: 245px;
        display: flex;
      }
    }