.container {
    position: fixed;
    height: 100px;
    width: 100%;
    border: black 2px solid;
    background-color: rgba(128, 128, 128, 0.454);
    display: flex;
    align-items: center;
}

.nav-logo {
    position: absolute;
    left: 25px;
    top: 15px;
    width: 100px;
    align-self: baseline;
    transform: rotate(-10deg);
}

.title {
    position: relative;
    left: 140px;
    font-size: 3em;
    top: -10px;
}

.sub-title {
    position: relative;
    left: -195px;
    top: 26px;
    font-size: 1.5em;
}

.nav-menu { 
    display: flex;
    justify-content: center;
    position: fixed;
    right: 150px;
}

.nav-item {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    margin: 0 10%;
    font-size: 1.5em;
    z-index: 1;
}

.nav-links{
    color: white;
    text-decoration: none;
    /* padding: 0.5rem 1rem; */
    transition: color 400ms;
}

.nav-links:hover{
    color: red;
}

