.navbar {
    position: fixed;
    height: 100px;
    width: 100%;
    border-bottom: rgb(104, 102, 102) 2px solid;
    background-color: rgba(0, 0, 0, 0.829);
    display: flex;
    align-items: center;
}

.nav-logo {
    position: absolute;
    left: 25px;
    top: 8px;
    width: 90px;
    align-self: baseline;
    transform: rotate(-10deg);
    z-index: 100;
    transition: all 0.25s ease;
}

.nav-logo:hover {
    transform:rotate(.10deg);
    filter: brightness(1.5);
}

.title {
    color: white;
    position: absolute;
    left: 130px;
    font-size: 3em;
    top: 10px;
    transition: all 0.25s ease;
    
}

.sub-title {
    position: absolute;
    color: rgb(104, 102, 102);
    left: 140px;
    top: 60px;
    font-size: 1.5em;
    transition: all 0.25s ease;
}

.nav-menu {
    display: flex;
    justify-content: center;
    position: fixed;
    right: 150px;
}

.nav-item {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    margin: 0 10%;
    font-size: 1.5em;
    z-index: 1;
}

.nav-links {
    color: white;
    text-decoration: none;
    /* padding: 0.5rem 1rem; */
    transition: color 400ms;
}

.nav-links:hover {
    color: red;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 1030px) {
    .menu-icon {
        display: block;
        position: absolute;
        color: rgb(255, 255, 255);
        right: 20px;
        top: 20px;
        font-size: 1.8rem;
        cursor: pointer;
    }

    .navbar {
        height: 65px;
    }

    .nav-menu {
        height: 0px;
        position: absolute;
        top: 70px;
        left: 0px;
        overflow: hidden;
    }

    .nav-menu.active {
        height: 150px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.829);
        top: 49px;
        border-bottom: rgb(104, 102, 102) 2px solid;
        transition: height .25s ease;
    }

    .nav-logo {
        width: 60px;
        left: 20px;
    }

    .nav-logo:hover {
        filter: brightness(1);
        transform: rotate(-10deg);
    }

    

    .logo-spin {
        transform: rotate(-450deg);
        transition: all 0.5s ease;
        top: -10px;
        left: 25px;
    }

    .title {
        font-size: 1.8em;
        left: 85px;
        top: 15px;
    }

    .sub-title {
        top: 44px;
        font-size: 1em;
        left: 95px;
    }

    .title-nudge {
        left: 110px;
        transition: all 0.25s ease;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        font-size: 1em;
        margin-bottom: 0;
        margin-left: -25px;
    }

    .nav-item {
        margin-left: 0;
        font-size: 1.5em;
        padding-bottom: 5px;
    }

    .active {
        display: flex;
        flex-direction: column;
        border-bottom: none;
    }

    .hide {
        display: none;
    }
}