.rate-card {
    width: 225px;
    height: 360px;
    background-color: white;
    border-radius: 5%;
    color: black;
    font-family: serif;
}

.rate-card:hover{
    filter: drop-shadow(0px 0px 20px rgb(0, 0, 0));
    transform: scale(105%);
    transition: all 400ms;
}

.content{
    position: relative;
    top: -25px;
}

.rate-card h1{
    font-size: 1.5em;
}

.inner-border {
    box-shadow: inset 0px 0px 0px 1px black;
    border: 10px solid rgb(240, 240, 240);
}

.service-list {
    text-align: left;
    list-style:outside;
}

.top-left{
    position: relative;
    left: -92px;
    top: -25px;
    font-size: 1.5em;
}

.bottom-right{
    position: absolute;
    left: 192px;
    top: 223px;
    font-family: serif;
    font-size: 1.5em;
    transform: rotate(180deg);
}


.D{
    margin-bottom: -10px;
}

i {
    font-size: .7em;
}

.quote-link{
    text-decoration: none;
    color: blue;
}
.quote-links:hover{
    color:red;
}

@media screen and (max-width: 1030px) {

}




